.error{
    color: red;
    font-size: 14px;
}

.comments{
    height: 16vh;
    overflow: auto;
}


@media (max-width: 400px) {
    .comments{
        margin-top: 40px;
    }
    .error{
        margin: 30px 0px 5px;
    }
}

